.row{
    margin: 0px;
    
}

.category{
    border: solid thin lightcoral;
    text-align: center;
   
    /* animation-duration: 3s; */
    /* animation-iteration-count: infinite; */
}

.category:hover{
    background-color: lightseagreen;
}

.card-header{
    background-color: lightseagreen;
   
}

.GoBack{
    text-align: right;
}

.back{
    color: white;
}

.col-sm-6 {

    padding: 4px;
}

.card-img-top {
    width: 70%;
    height: 13%;
    margin: 10%;
    /* margin-top: 5px; */
}

.cardbox {
    height: auto !important;
}

.category {
    width: 100%;
    margin: 0px;
}
.categoryOptionsButton{
    width: 70%;
    height: 2%;
    
}