.category:hover{
    background-color:  #9068be;
}

.sidePanelCardGHeader{
    background-color:  #9068be;
   
}

.GoBack{
    text-align: right;
}

.back{
    color: white;
}

.categoryOptionsCol {

    padding: 4px;
    /* height:0%; */
}

.card-img-top {
    width: 70%;
    margin: 10%;
    /* height: 8%; */
    /* margin-top: 5px; */
}

.cardbox {
    height: 1000px;
}
.sidePanelMapRow{
    height: 1000px;
}

.SidePanelOption{
    height:10px;
}

.categoryOptionsButton{
    width: 100%;
    /* height: 0%; */
    padding: 4px;
    /* height:200px; */
    
}


.category{
    border: solid thin lightcoral;
    text-align: center;
    /* height: 0%; */
    
   
    /* animation-duration: 3s; */
    /* animation-iteration-count: infinite; */
}
.cardLayout{
    /* height: 2%; */
    
        width: 100%;
        height: 100%;
   
}


