.translatorHeading{
    background-color: #F7B733;
    text-align: center;
}
.translatorcard{
    background-color: lightcoral;
    margin:80px;
}
.translateFrame{
    background-color: lightseagreen; 
}