#iframe_box {
    text-align: center;
}

iframe {
    text-align: center;
    width: 900px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 30px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);

}