body {
  background-color: whitesmoke;
}

.motto{
  font-family: 'Great Vibes', cursive;
}


.slide {
  width: 100%;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  color: #78244C;
}
.homeServicesHeader{
  background-color: lightcoral;
  background-color: #F7B733;
  background-color: lightskyblue;
  background-color: #CAEBF2;
}
.homeServicesPara{
  font-family: 'Charm', cursive;
  font-size: 25px;
  
}
.thumbnailCaption{
  /* text-align: center; */
}
.homeServicesSection{
  background-color: lightcoral;
  background-color: #F7B733;
  background-color: #CAEBF2;
}