.container {
  background-color: wheat;
}


.imageBox {
    position: relative;
    margin: 40px auto;
    border-radius: 4px;
    overflow: hidden;
}

.imageBox h5
{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    transform: translate(-50%);
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.imageBox ul{
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: flex;
    background: rgba(0,0,0,.2);
    transform: translateY (50px);
    transition: .5s;
}

.imageBox:horizontal ul{
    transform: translate(-60px);
}

.imageBox ul li{
    list-style: none;
    width: 20%;
    box-sizing: border-box;
}

.imageBox ul li a {
    color: #fff;
    font-size: 20px;
    margin: 10px;
    display: inline-block;
}

ul {
  list-style-type: none;
}

.one_card {
    border: 1px solid #cccccc;
    width: 30%;
    margin: 5px;
    padding: 5px;
    background-color: tan;
}

.image_box {

}


.card-img-top {
    vertical-align: bottom;
    width: auto;
    height: 50px;
}

