nav {
    /* text-align: center; */
    background-color:midnightblue;
}

nav ul li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    
}

/* h2 {
    /* text-align: center; */
/* } */ 


nav li a {
    color: white;
}

.links{
    text-align: end;
}
/* 
body{
    /* background-color: wheat; */
/* } */ 
li:hover{
    background-color: lightslategray;
}
.icon{
    width:12%;
}
h1{
    color: beige;
    
    
}