.imerge{
    font-family: 'Bungee Inline', cursive;
    color:#374785;
}
nav {
    text-align: center;
    /* background-color: dodgerblue; */
    /* text-align: center; */
    background-color:#3B8BEB;
}

/* .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  } */
nav ul li {
     display: inline-block;
    /* padding-left: 25px;
    padding-right: 25px;  */
    
}
#home
{background-color: lightcoral;
height: 100%;
}
#Agencies
{background-color: lightseagreen;
height: 100%;
}
#maps
{background-color: #9068be;
height: 100%;
}
#news
{background-color: mediumvioletred;
height: 100%;
}
#translator
{
background-color: #F7B733;
/* background-color: #FC4A1A ; */
height: 100%;
}

#langBtn{
    width: 100%;
    align-items:center;
    
}
button {
    border: 0;
    line-height: 2.0;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:rgb(5, 184, 238);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}


li{
    height: 40px;
}

nav li a {
    color: white;
}
.navList:hover{
     background-color: lightseagreen;
}

<<<<<<< HEAD
=======
.links{
    text-align: end;
}
>>>>>>> d54ed88ff77d10671bcebd425c0d1a3ee628f3ea

.icon{
    width:4%;
    
}
h1{
    color: beige;
    
    
}
.languageButtons{
    text-align: end;;
}