.imerge{
    font-family: 'Bungee Inline', cursive;
    color:#374785;
    ;
}
nav {
    /* text-align: center; */
    /* background-color: dodgerblue; */
    background-color:#3B8BEB;
}

.flex-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    
  }
nav ul li {
     display: inline-block;
    padding-left: 25px;
    padding-right: 25px; 
    
}
#home
{background-color: lightcoral;
height: 100%;
}
#Agencies
{background-color: lightseagreen;
height: 100%;
}
#maps
{background-color: #9068be;
height: 100%;
}
#news
{background-color: mediumvioletred;
height: 100%;
}
#translator
{
background-color: #F7B733;
/* background-color: #FC4A1A ; */
height: 100%;
}

button {
    align-items: center;
    background: white;
    color: mediumvioletred;
    border-radius: 20%;
    justify-content: center;
  }

/* h2 {
    /* text-align: center; */
/* } */ 
li{
    height: 40px;
}

nav li a {
    color: white;
}
.navList:hover{
     background-color: lightseagreen;
}

.links{
    text-align: end;
}
/* 
body{
    /* background-color: wheat; */
/* } */ 
/* li:hover{
    background-color: white;
} */
.icon{
    width:4%;
    
}
h1{
    color: beige;
    
    
}